.about-container {
    display:flex;
    flex-direction: column;
    padding: 200px 20% 100px 20%;
    text-align: left;
    color: white;
    background-color: blue;
    position: relative;
}

.about-container p {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5;
}

.about-top-section {
    background-color: black;
    width: 60%;
    top: -100px;
    position: absolute;
    height: 200px;
    box-sizing: border-box;
    padding: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
}

.about-grid > * {
    padding-right: 10%;
}

.about-grid ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.about-grid li {
    margin: 5px 0;
}

.about-grid h1 {
    margin: 0;
}