.about-container {
    display:flex;
    flex-direction: column;
    padding: 200px 20% 100px 20%;
    text-align: left;
    color: white;
    background-color: blue;
    position: relative;
}

.about-container p {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5;
}

.about-top-section {
    background-color: black;
    width: 60%;
    top: -100px;
    position: absolute;
    height: 200px;
    box-sizing: border-box;
    padding: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
}

.about-grid > * {
    padding-right: 10%;
}

.about-grid ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.about-grid li {
    margin: 5px 0;
}

.about-grid h1 {
    margin: 0;
}

.about-top-section h2, p{
    font-size: 18px !important;
}

@media (width < 1900px) {
    .about-top-section h2, p{
        font-size: 15px !important;
    }
}

@media (width < 1600px) {
    .about-top-section {
        width: 75%;
    }

    .about-container {
        padding: 200px 12.5% 100px 12.5%;
        font-size: 15px;
    }
}

@media (width < 1200px) {
    .about-top-section h2, p{
        font-size: 12px !important;
    }

    .about-grid p {
        font-size: 15px !important;
    }

    .about-grid > * {
        padding-right: 0;
    }

    #main-grid {
        grid-template-columns: 1fr;
    }

    #main-grid > * {
        margin: 25px 0;
    }
}

@media (width < 900px) {
    .about-container {
        padding: 200px 5% 100px 5%;
    }
    
    .about-top-section {
        width: 100%;
        margin-left: -5%;
        padding: 30px 20px;
    }
}

@media (width < 570px) {
    .about-top-section {
        height: 330px;
    }
    
    .about-top-section .about-grid {
        grid-template-columns: 1fr;
    }

    .about-container {
        padding: 240px 5% 100px 5%;
    }
}