.exp-title {
    margin: 5px 0;
}

.exp-container {
    color: black;
    background-color: #fefefe;
    height: 500px;
}

.exp-top-section {
    background-color: #fefefe;
    width: 60%;
    top: -100px;
    position: absolute;
    height: 200px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: auto;
}

.exp-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 40px;
}

.exp-card > * {
    box-sizing: border-box;
    padding: 50px;
}

.exp-card > *:first-child {
    background-color: #FFE713;
}

.exp-card li p {
    margin: 0;
}

@media (width < 2000px) {
    .exp-container {
        height: 600px;
    }
}

@media (width < 1600px) {
    .exp-top-section {
        width: 75%;
    }
}

@media (width < 1200px) {
    .exp-top-section {
        width: 75%;
    }
}

@media (width < 1000px) {
    .exp-container {
        height: 650px;
    }
}

@media (width < 900px) {
    .exp-top-section {
        width: 90%;
    }
}


@media (width < 768px) {
    .exp-card {
        grid-template-columns: 1fr;
    }

    .exp-card > * {
        padding: 30px;
    }

    .exp-container {
        height: 800px;
    }
}

@media (width < 480px) {
    .exp-container {
        height: 950px;
    }
}