.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 100px 10%;
    justify-content: center;
    align-items: center;
    text-align: left;
}

p, li {
    opacity: 0.75;
}

.title-box {
    width: 60%;
}

.text-box {
    width: 30%;
}

.title-box h1 {
    font-size: 80px;
}

.landing-section {
    font-size: 25px;
    transition: 0.3s;
}

.landing-section i {
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    justify-content: center;
    align-items: center;
  }

.landing-section:hover{
    opacity: 1 !important;
    transform: scale(1.25);
}

.row-just {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-just p {
    font-size: 25px;
    
    opacity: 1 !important;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
}

.wrapper > * i {
    margin-right: 10px;
}

.wrapper > * p {
    line-height: 0;
}