.landing-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    width: 100%;
    height: calc(100vh - 64px);
}

.landing-grid > * {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-grid i {
    border-radius: 50%;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    padding: 10px;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align:center;
    justify-content: center;
    align-items: center;
}

.landing-grid p {
    color: blue;
}

.landing-grid p:hover{
    transform: scale(1.25);
}

.landing-grid h1 {
    animation: 1s ease-out 0s 1 slideUp;
    font-size: 50px;
    letter-spacing: 2px; 
    line-height: 1;
}

.landing-grid h2 {
    font-size: 30px;
}

.landing-grid p {
    font-size: 22px;
    transition: 0.3s;
}

.landing-grid img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.landing-grid .bottom-text {
    position: absolute;
    bottom: 0px;
}

@media (width < 1900px) {
    .landing-grid h1 {
        font-size: 40px;
    }

    .landing-grid h2 {
        font-size: 25px;
    }

    .landing-grid p {
        font-size: 20px;
    }

    .landing-grid h3 {
        font-size: 18px;
    }
}

@media (width < 1600px) {
    .landing-grid h1 {
        font-size: 30px;
    }

    .landing-grid h2 {
        font-size: 20px;
    }

    .landing-grid p {
        font-size: 15px;
    }

    .landing-grid h3 {
        font-size: 15px;
    }
}

@media (width < 1200px) {
    .landing-grid img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .landing-grid {
        height: calc(100vh - 55px);
    }

    .landing-grid h1 {
        font-size: 25px;
    }
}

@media (width < 900px) {
    .landing-grid {
        grid-template-columns: 1fr;
    }

    .landing-grid > * {
        box-sizing: border-box;
        padding: 5%;
    }

    .landing-grid .center {
        display: none;
    }

    .landing-grid .right {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }

    .landing-grid i {
        display: none;
    }

    .landing-grid p {
        font-size: 20px !important;
    }

    .landing-grid p:hover{
        text-decoration: underline;
        transform: scale(1);
    }
}

@media (width < 768px) {
    .landing-grid {
        height: calc(100vh - 52px);
    }
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        transform: rotate(25deg); 
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}