.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fefefe;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12.5%;
    height: 65px;
    position: sticky;
    top: 0;
}

.nav .yellow-box {
    background-color: #FFE713;
    padding: 5px;
    color: black;
    padding-bottom: 6px;
}

.nav .blue-box {
    background-color: blue;
    color: white;
    padding: 5px;
    padding-right: 0;
}

.nav h1 {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

.content {
    display: flex;
}

.content > * {
    margin-left: 10px;
}

.content h1 {
    transition: 0.5s;
}

.content h1:hover {
    background-color: blue;
    color: white;
}

@media (width < 1200px) {
    .nav {
        padding: 0 7.5%;
        height: 56px;
    }

    .nav h1 {
        font-size: 18px;
    }

    .nav .blue-box{
        padding: 5px;
    }

    .nav .yellow-box{
        display:none;
    }
}

@media (width < 768px) {
    .nav {
        padding: 0 5%;
        height: 52px;
    }

    .nav h1 {
        font-size: 12px;
    }

    .nav .blue-box {
        padding: 10px;
    }
}