.projects-container {
    width: 60%;
    padding: 0 20%;
}

.project-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.project-grid p {
    font-size: 15px !important;
}

.project-grid > * {
    width: 49.5%;
}

.project-grid .row {
    margin-bottom: 20px;
}

.project-grid .image-container {
    width: 100%;
    overflow: hidden;
}

.project-grid img {
    width: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.project-grid img:hover {
    transform:scale(1.5);
}

@media (width < 1600px) {
    .projects-container {
        width: 75%;
        padding: 0 12.5%;
    }
}

@media (width < 1200px) {
    .project-grid > * {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (width < 900px) {
    .projects-container {
        width: 90%;
        padding: 0 5%;
    }
}